.article {
	max-width: 700px;
	margin: 2em auto 1em auto;
	
	p {
		color: rgba(0,0,0,0.85);
		font-size: 22px;
    line-height: 1.58;
    letter-spacing: -0.003em;
	}

	.content {
		p:first-of-type:first-letter { 
			font-weight: 700;
	    font-style: normal;
	    font-size: 77px;
	    margin-left: -5px;
	    margin-right: 7px;
	    letter-spacing: -0.03em;
	    line-height: 0.83;
	    margin-bottom: -0.08em;
	    display: block;
	    position: relative;
	    float: left;
		}
	}
}

@media screen and (max-width: 767px) {
	.article p, .article .yarpp-related p, .article .yarpp-related span, .article .yarpp-related a {
  	font-size: 18px;
  	line-height: 1.5;
  	letter-spacing: -0.004em;
  }
}

.post-container {
	padding-bottom: 8rem;

	blockquote {
	  margin: 1.8em auto;
    border-left: 2px solid #666;
    padding: 0.1em 1em;
    color: #666;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    max-width: 700px;
    p {
    	margin-bottom: 5px;
    }
  }

	img {
		height: auto;
		position: relative;
    max-width: 120%;
    width: 120%;
    left: -10%;
	}
	
	.hero {
		height: 200px;
		display: block;
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		position: relative;

		.text-protection {
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(black,.5);
		}

		.title-container {
				position: absolute;
				max-width: 700px;
				top: 50%;
				left: 50%;
	    	transform: translate(-50%, -50%);

			h1 {
				text-transform: uppercase;
				color: white;
				text-align: center;
			}

			p {
				color: white;
				text-align: center;
			}

			a {
				color: white;
			}
		}

	}

	ul, ol {
		max-width: 700px;
		margin: 2.2rem auto 2rem auto;
	}
	
	ul {
		list-style-type: initial;
	}

}

#post-issue {
	position: absolute;
  color: rgba(0, 0, 0, 0.07);
  left: -300px;
  line-height: 1;
  top: 0;
	.issue-small-caps {
		display: block;
	  font-weight: 900;
	  line-height: .8em;
	  font-family: "brandon-grotesque", sans-serif;
	  font-size: 20px;
	  letter-spacing: 1px;
	}
	.issue {
		font-family: "brandon-grotesque", sans-serif;
		text-transform: uppercase;
		font-size: 60px;
	}
}

.article {
	position: relative;
	padding-top: 3rem;
}

.related-container {
	text-align: center;
	margin-top: 1rem;

	.related-post {
		float: left;
		width: 200px;
		cursor: pointer !important;
		&:first-child {
			margin-left: calc(50% - 300px);
		}

		div,a {
			display: block;
			cursor: pointer;
		}

		div {
			margin: auto;
		}
		a {
			width: 100%;
			text-align: center;
		}
	}
}

#mc_embed_signup_scroll {
	.button {
		border: none;
	}
}

.article {
	.yarpp-related {
		h3 {
			font-size: 31px;
			margin-top: 25px;
	  	margin-bottom: 1em;
	  }
	  h4 {
	  	color: black;
	  	margin-top: 12.5px;
    	margin-bottom: 12.5px;
	  }
	  p,span,a {
	  	color: #868688;
	  	font-size: 18px;
	  	font-family: 'freight-micro-pro', serif;
	  }
	  span,a {
	  	font-weight: 300;
	  	font-style: italic;
	  }
	  .not-tag {
	  	font-style: normal;	  	
	  }
	}
}

@media screen and (max-width: 854px) {
	.post-container img {
		width: 100%;
		left: auto;
	}

	.post-container {
		.hero {
			background-attachment: scroll !important;
			background-size: cover !important;
			height: 350px;
		}
	}

	.post-technologies {
		display: none;
	}
}