body {
  border-top: 6px solid #eee4c0;
}

.logged-in {
  margin-top: 32px;
}

p {
  font-family: "freight-micro-pro";
  color: #000;
  opacity: 0.8;
  letter-spacing: 0.079999998211861px;
  line-height: 26.1000003814697px;
  font-size: 18px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
h1,
h2,
h3,
.navbar-brand,
h4 {
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  color: #868688;
  font-weight: 800;
}
h5 {
  font-family: "brandon-grotesque";
  text-transform: uppercase;
}
h1,
.navbar-brand {
  font-weight: 800;
}
hr {
  border-color: #eee4c0;
  border-width: 3px;
}
/*
	NAVBAR
*/
.navbar {
  margin: 0;
  height: 100px;
  box-shadow: none !important;
  border: 0
}

.navbar-brand {
  padding: 0;
  color: black !important;
  position: relative;
  font-family: 'brandon-grotesque', sans-serif;
  text-transform: uppercase;
  .lahar-navbar{
    font-size: 40px;
    letter-spacing: 3px;
  }
  .magazine-navbar {
    font-size: 14px;
    position: absolute;
    top: 25px;
    left: 0;
    letter-spacing: 1px
  }
}

.navbar-default {
  background: white;
}

.stuck {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 258;
  height: 50px;
}
.stuck .container div a {
  line-height: 50px !important;
}
.navbar .container div a {
  line-height: 100px;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-nav li {
  font-family: "brandon-grotesque";
  text-transform: uppercase;
}
/*
	HERO
*/
#video-hero {
  height: 600px;
  overflow: hidden;
  position: relative;
}
#video-opacity {
  width: 100%;
  height: 100%;
  background: rgba(238,228,192,0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 255;
}
#welcome {
  position: absolute;
  top: 50%;
  z-index: 256;
  text-align: center;
  width: 100%;
  left: 0;
  margin: 0;
  transform: translateY(-49%);
}
#video-hero #welcome h1 {
  font-size: 90px;
  color: white;
  opacity: 1;
}
#welcome p {
  opacity: 1 !important;
  color: white;
  font-family: "brandon-grotesque";
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.4em;
}
#video-hero iframe {
  height: 140%;
  width: 100%;
  position: absolute;
  top: -40px;
  z-index: 1;
}
/*
briefing
*/
#briefing-container {
  background: rgba(0,0,0,0.8);
  width: 100%;
}
#briefing-container p {
  color: rgba(255,255,255,0.9);
  font-size: 20px;
  line-height: 1.4;
}
#briefing {
  background: rgba(255,255,255,0.1);
  padding: 2em 2em;
}
#briefing h2 {
  margin-top: 0;
  margin-bottom: 1em;
}
#briefing img {
  width: 100%;
}
#main {
  margin-top: 2em;
}
#main h3 {
  margin-top: 0;
}
.main-title {
  text-align: center;
}
.rubrica {
  background: #eee4c0;
  padding: 1.2em 1em 0.8em 1em;
  margin-top: 1em;
  border-top: 3px solid #868688;
}
.rubrica:first-child {
  margin-top: 0;
}
.rubrica h4 {
  text-align: center;
  margin-top: 0;
}
.img-insta {
  margin-bottom: 15px;
}
.articolo p {
  font-size: 22px;
  margin-bottom: 30px;
  letter-spacing: 0.01rem;
  line-height: 1.5em;
}

.home-post {
  margin-bottom: 3em;
  &:last-child {
    margin-bottom: 5em;
  }
  h4 {
    color: black;
  }
}

.home-post-wrapper {
  color: rgb(134, 134, 136);
  font-weight: 300;
  &:hover {
    text-decoration: none;
    color: rgb(134, 134, 136);
  }
}

.read-more {
  display: none;
}