{% extends "base.twig" %}

{% block content %}

<div class="page">
	<div class="container not-found">
		<h1>Accidenti</h1>
		<hr>
		<p>
			La pagina che cerchi non sembra esistere. <br>
			<a href="/">Torna alla homepage!</a>
		</p>
		<iframe src="//giphy.com/embed/xTiTnnEWYFqDYVs2RO" width="480" height="616" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
	</div>
</div>

{% endblock %}
