{% extends "base.twig" %}

{% block content %}

<div class="page">
	<div class="container not-found">
		<h1>Accidenti</h1>
		<hr>
		<p>
			La pagina che cerchi non sembra esistere. <br>
			<a href="/">Torna alla homepage!</a>
		</p>
		<p class="text-center">
			<img src="{{site.theme.link}}/img/404.gif" alt="404" width="400px" style="max-width: 100%;">
		</p>
	</div>
</div>

{% endblock %}
