{% extends "base.twig" %}

{% block content %}

  <!-- center column -->
  <div id="page">
    <h2>{{page.title}}</h2>
    <div class="about-p">
      {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
      {% endfor %}
    </div>
  </div>

{% endblock %}