{% extends "base.twig" %}

{% block content %}

  <!-- center column -->
  <div id="page">
    <h2>{{page.title}}</h2>
    <div class="about-p">
      {{page.content}}
    </div>
  </div>

{% endblock %}